.jumbotron {
    background-image: url("src/assets/images/Noxcomic_pg02_03.png");
    background-size: cover;
    text-align: center;
    padding: 10% 10%;
}

.container {
    background-color: gray;
}
