<!--JUMBOTRON-->
<div class="jumbotron">
    <h1 class="display-4">Featured Comic</h1>
    <p class="lead">In the boundless abyss that predates existence, the Luminara Blossom sprouted and birthed the seeds of radiance, giving rise to Everdawn: the realm bathed in eternal light. The sanctity of the Luminara's presence was revered by all, drawing mages to unravel its mystical secrets and monarchs to harness its profound might.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Read Now</a>
    </p>
</div>
<!--COMICS DISPLAY SECTION-->
<div class="container section2">
    <div class="row">
        <div class="col-md-4">
            <img src="assets/images/mec-bros.png">
            <h4>Mec Bros1</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, mollitia. Neque quibusdam impedit corrupti perferendis! Voluptatum accusamus rerum adipisci ea excepturi inventore, vel magni porro blanditiis consectetur debitis fugit molestias!</p>
        </div>
        <div class="col">
            <img src="assets/images/mec-bros.png">
            <h4>Mec Bros2</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, mollitia. Neque quibusdam impedit corrupti perferendis! Voluptatum accusamus rerum adipisci ea excepturi inventore, vel magni porro blanditiis consectetur debitis fugit molestias!</p>
        </div>
        <div class="col">
            <img src="assets/images/mec-bros.png">
            <h4>Mec Bros3</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, mollitia. Neque quibusdam impedit corrupti perferendis! Voluptatum accusamus rerum adipisci ea excepturi inventore, vel magni porro blanditiis consectetur debitis fugit molestias!</p>
        </div>
    </div>
</div>
