<!--JUMBOTRON-->
<div class="jumbotron">
    <h1 class="display-4">Featured Comic</h1>
    <p class="lead">In the boundless abyss that predates existence, the Luminara Blossom sprouted and birthed the seeds of radiance, giving rise to Everdawn: the realm bathed in eternal light. The sanctity of the Luminara's presence was revered by all, drawing mages to unravel its mystical secrets and monarchs to harness its profound might.</p>
    <p class="lead">
      <a class="btn btn-danger btn-lg" href="#" role="button">Read Now</a>
    </p>
</div>
<!--COMICS DISPLAY SECTION-->
<app-comics-list></app-comics-list>
<!--SEE MORE BUTTON-->
<div id="see-more">
    <a class="btn btn-light btn-lg" href="#" role="button">See More</a>
</div>

