<div class="container">
    <div class="row" id="comic-details">
        <div class="col">
            <img src="{{ comic.url }}" id="indiv-comic-img">
        </div>
        <div class="col">
            <h1> {{ comic.title }} </h1>
            <p> {{ comic.description }} </p>
        </div>
    </div>
    <div class="row">
        <ngb-carousel
          #carousel
          [interval]="0"
          id="carousel"
        >
          <ng-template ngbSlide *ngFor="let page of comic.page; index as i">
              <div class="carousel-caption">
                page {{page.pageNumber}} of {{comic.page.length}}
              </div>
              <a>
                  <div class="picsum-img-wrapper">
                      <img class="d-block w-100" src="{{page.url}}" alt="My image {{i + 1}} description" id="carousel-img"/>
                  </div>
              </a>
          </ng-template>
        </ngb-carousel>
        </div>
</div>
<div>
    <button (click)="returntoCarouselTop()">Back to Carousel Top</button>
</div>