.container {
    padding: 1%;
}

.col {
    margin: 2%;
}

.row {
    margin: 3%;
}

#comic-details {
    border: solid 2px;
}

#indiv-comic-img {
    height: 400px;
}

#carousel-img {
    padding: 20px;

}

.carousel-control-prev {
background-color: blue;
}

.carousel-control-prev {

}

::ng-deep .carousel-control-prev-icon, ::ng-deep .carousel-control-next-icon {
    background-color: black;
}

.carousel-caption {
    -webkit-text-fill-color: black;
    font-size: 30px;
    text-shadow:
        0.07em 0 white,
        0 0.07em white,
        -0.07em 0 white,
        0 -0.07em white;
}

#returnCarouselTopBtn {
    float: right;
    margin-right: 8%;
    margin-bottom: 8%;
}