<nav class="navbar navbar-expand-lg navbar-light" id="navbar">
  <a class="navbar-brand" routerLink="/"><img id="logo" src="assets/images/logo-icon.png"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/comics">Comics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/mouthbreathersguildllc/" target="_blank"><i class="bi bi-instagram"></i></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.facebook.com/MouthbreathersGuild" target="_blank"><i class="bi bi-facebook"></i></a>
        </li>
      </ul>
  </div>
</nav>
<router-outlet></router-outlet>